In [62]:
from PIL import Image
import cv2
import numpy as np
import pandas as pd
import sys
import os
import csv
import statistics

In [63]:
img_dir="images"

In [64]:
import pandas
df = pandas.read_csv('/home/yashas/Desktop/work/ML/Try/FacReg/facial_expressions/data/legend (copy).csv')

In [65]:
df['emotion'].unique()

array(['anger', 'surprise', 'disgust', 'fear', 'neutral', 'happiness',
       'sadness', 'contempt', 'NEUTRAL', 'SADNESS', 'DISGUST', 'FEAR',
       'SURPRISE', 'ANGER', 'HAPPINESS'], dtype=object)

In [66]:
df.loc[df['emotion']=='NEUTRAL','emotion']='neutral'
df.loc[df['emotion']=='SADNESS','emotion']='sadness'
df.loc[df['emotion']=='DISGUST','emotion']='disgust'
df.loc[df['emotion']=='FEAR','emotion']='fear'
df.loc[df['emotion']=='SURPRISE','emotion']='surprise'
df.loc[df['emotion']=='ANGER','emotion']='anger'
df.loc[df['emotion']=='HAPPINESS','emotion']='happiness'

In [67]:
df.emotion.unique()

array(['anger', 'surprise', 'disgust', 'fear', 'neutral', 'happiness',
       'sadness', 'contempt'], dtype=object)

In [68]:
df.loc[df['emotion']=='anger','emotic']=0
df.loc[df['emotion']=='surprise','emotic']=1
df.loc[df['emotion']=='disgust','emotic']=2
df.loc[df['emotion']=='fear','emotic']=3
df.loc[df['emotion']=='neutral','emotic']=4
df.loc[df['emotion']=='happiness','emotic']=5
df.loc[df['emotion']=='sadness','emotic']=6
df.loc[df['emotion']=='contempt','emotic']=7

In [69]:
df.head()

  user.id                            image   emotion  emotic
0     628  facial-expressions_2868588k.jpg     anger     0.0
1     628  facial-expressions_2868585k.jpg  surprise     1.0
2     628  facial-expressions_2868584k.jpg   disgust     2.0
3     628  facial-expressions_2868582k.jpg      fear     3.0
4   dwdii           Aaron_Eckhart_0001.jpg   neutral     4.0

In [70]:
import statistics
int(statistics.mean(df.loc[df['image']==df.image[7270],'emotic']))

5

In [71]:
(df.loc[df['image']==df.image[7270],'emotic'])

7270    5.0
7328    5.0
Name: emotic, dtype: float64

In [72]:
int(df.loc[df['image']=="facial-expressions_2868584k.jpg",'emotic'])

2

In [73]:
for img in df.image[1:]:
    img_file = Image.open(os.path.join(img_dir,img))
    img_file = img_file.resize((28,28), Image.ANTIALIAS)
    img_grey=img_file.convert('L')
    x=np.asarray(img_grey.getdata(), dtype=np.int)
    y=np.append(x,int(statistics.mean(df.loc[df['image']==img,'emotic'])))
    with open("dataset.csv", 'a') as f:
        writer = csv.writer(f)
        writer.writerow(y)

In [74]:
x=pd.read_csv('dataset.csv')

,196,195,195.1,198,197,200,210,193,146,102,...,130.6,144.7,141.7,63.3,53.7,49.1,51.3,65.2,64.3,1
0,195,196,198,198,197,194,196,206,202,184,...,141,148,141,65,53,56,61,51,58,2
1,198,199,198,197,197,202,213,200,167,114,...,139,135,149,102,50,56,50,60,70,3
2,16,38,57,54,63,71,74,84,97,91,...,65,59,45,61,70,61,64,60,58,4
3,10,22,41,48,51,51,59,73,76,79,...,119,103,90,81,76,53,30,33,36,5
4,91,91,91,88,70,66,76,91,108,132,...,80,70,68,70,72,67,72,91,112,4